<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <h3 class="mb-4">Create a New Listing</h3>

    <form method="POST" action="/listings">
      
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input id="title" name="listing[title]" 
               placeholder="Enter title" 
               type="text" 
               class="form-control" required>
      </div>
      
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" 
                  name="listing[description]" 
                  class="form-control"
                  placeholder="Enter description"></textarea>
      </div>
      
      <div class="mb-3"> 
        <label for="image" class="form-label">Image Link</label>
        <input id="image" name="listing[image][url]" 
               placeholder="Enter image URL/Link" 
               type="text" 
               class="form-control">
      </div>
      
      <div class="row">
        <div class="mb-3 col-4">
          <label for="price" class="form-label">Price</label>
          <input id="price" name="listing[price]" 
                 placeholder="Enter price" 
                 type="number" 
                 class="form-control">
        </div>
        
        <div class="mb-3 col-8">
          <label for="country" class="form-label">Country</label>
          <input id="country" name="listing[country]" 
                 placeholder="Enter country" 
                 type="text" 
                 class="form-control">
        </div>
      </div>
      
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input id="location" name="listing[location]" 
               placeholder="Enter location" 
               type="text" 
               class="form-control">
      </div>
    
      <button class="btn btn-dark">Add</button>
      <br/>
    </form>
  </div>
</div>